body {
    padding: 0; 
    margin: 0;
    font-family: 'freight-text-pro', sans-serif;
    font-size:21;
    overflow-x:hidden;
    background-color: #9f447a;
  }

  canvas {
           position:absolute;
           top:0;
           left:0;
           width:400%;
           height:450%;
           z-index:-1;
           background-color: #9f447a;
        }

    nav a, #about a{
      padding:2px;
      color:#9f447a;
      text-decoration: none;
      border-bottom: 1px #9f447a dotted;
    }

   #about a:hover{
      color:white;
      background-color: #9f447a;
      text-decoration: none;
      border-bottom: 1px #9f447a dotted;
    }

    header{
      width:100%;
      z-index: 1;
      color:white;
      vertical-align: middle;

    }

    header h1{
    margin:0 10%;
    font-size: 9vw;
    /*padding-top: 20px;*/
    margin-bottom:-1%;
    font-family: "lust-script", "freight-sans-pro", serif;
    font-weight:regular;
    letter-spacing: 1.5;
    /*text-shadow:0px 0px 1px #cccccc;*/
    }

    section {
           position:absolute;
           width:100%;
           height:70%;
          /* min-height: 600px;
           max-height: 600px; */
           z-index:1;
           /*background-color: rgba(255, 255, 255, 1);*/
        }

    #content{
      display:block;
      float:left;
      margin:0 10%;
      max-width: 1100px;
      padding-right: 110px;

    }

    nav{
      display:block;
      clear:both;
    }

    footer{
      text-shadow:0px 0px 1px #cccccc;
      font-size: 10;
      display:block;
      clear:both;
      margin:10px 10%;
      color:rgba(240, 240, 240, 1);
    }

    footer a{
      text-shadow:0px 0px 1px #cccccc;
      color:rgba(240, 240, 240, 1);
      font-weight: 300;
      text-decoration: none;
      font-style: italic;
      border-bottom: 1px rgba(240, 240, 240, 1) dotted;
    }

    footer a:hover{
      background-color:white;
      color:#9f447a;
    }

    h1{
      font-size: 20;
    }

    h2{
      font-family:"freight-sans-pro", sans-serif;
      font-weight:300;
      font-variant: small-caps;
      letter-spacing: 3;
    }

    h2, p{
      margin-top:0;
      margin-left:20px;
      margin-bottom:20px;
    }

     #about{
      margin-top:10px;
      line-height:175%;
      background-color: white;
      padding:20px;

    }

    
    nav a{
      text-shadow:0px 0px 1px #cccccc;
      color:white;
      border-bottom:1px solid white;
      border-top:1px solid white;
      display:block;
      float:left;
      margin-right:10px;
      margin-bottom:20px;
      font-family:"freight-sans-pro", sans-serif;
      font-weight:600;
      font-variant: small-caps;
      letter-spacing: 3;
    }


    nav a:hover{
      background-color:white;
      color:#9f447a;
    }

    #social{
      clear: both;
    }
    #social img{
      width:25px;
      display: block;
      float:left;
      margin-right:10px;
      margin-bottom:20px;
    }