body{
    background-color: violet;
    margin: 0;
}

header{
    grid-area:header;
    background-color: pink;
}

#image{
    grid-area:image;
    background-color: yellow;
}

#ingredients{
    grid-area:ingredients;
    background-color: green;
}

#directions{
    grid-area:directions;
    background-color: blue;
}

footer{
    grid-area:footer;
    background-color: red;
}

.grid-container{
    display: grid;
    width: 60%;
    margin:auto;
    background-color: aqua;
    grid-template-areas:
    'header header header'
    'image image ingedients'
    'directions directions directions'
    'footer footer footer';
}