body{margin:0;
	font-size: 16px;
}

div{padding: 20px;
	background-color: green; 
	border:10px solid pink;
}

h1{background-color: black;
	color: white;
	padding: 10px;
	font-size: 10em;
}

p{background-color: brown; 
	color: white; 
	padding: 10px;
}