body{
	font-family: 'Palanquin', sans-serif;
	font-weight: 300;
	background-color:#2A3D66;
}
h1{
	color:#D789D7;
}

h2{
	color:#9D65C9;
}

p{
	font-style: italic;
}

canvas{
	background-color: #5D54A4;
	height:30%;
	width:60%;
}