body{
    background-color: chartreuse;
    margin:0;
}

.header{
    grid-area:header;
    background-color: green;
}

.item1{
    grid-area:item1;
    background-color: white;
}

.item2{
    grid-area:item2;
    background-color: purple;
}

.item3{
    grid-area:item3;
    background-color: yellow;
    margin:40px;
}

.footer{
    grid-area:footer;
    background-color: black;
}

.grid-container{
    display: grid;
    height: 100vh;
    grid-template-areas:
    'header header header'
    'item1 item2 item3'
    'footer footer footer';
    background-color: red;
    grid-gap:10px;
}