html, body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Holtwood One SC', serif;
}

h1,h2,p{
  text-align: center;
}

h2{
  font-size: xx-large;
}

#container{
  display:block;
  position: absolute;
  top:0;
  left:0;
}

#images{
  width:612px;
  height:792px;
  background-color: green;
  position: relative;
  top:0;
  left:50%;
}

#text{
  width:612px;
  height:792px;
  background-color:red;
  position: relative;
  top:0;
  left:50%;
  z-index:5;
}
