html, body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Holtwood One SC', serif;
}

h1,h2,p{
  text-align: center;
}

#container{
  display:block;
}

#images{
  width:612px;
  height:792px;
  background-color: green;
}

#text{
  width:612px;
  height:792px;
  background-color:red;
}
