body{
    margin: 0;
    background-color: darkslateblue;
}

header{
    width: 100%;
    background-color: deepskyblue;
    height:200px;

}

article{
    width: 60%;
    background-color: goldenrod;
    height:500px;
    float:left;

}

aside{
    width:40%;
    background-color: rgb(42, 43, 40);
    height:500px;
    float: left;

}

footer{
    clear: both;
    width:100%;
    background-color: hotpink;
    height:100px;
}