body{font-family: 'Montserrat', sans-serif; background-color: #DDD8B8;color:#2E2836;
margin:30px; padding: 10px;}
h1{color:#542E71; font-size: 4em;
 margin-top: 20px;
    padding: 10px;
  }
h2{color:white; font-size: 2em;}
a:hover{background-color: #B3CBB9;}

header{margin:20px;}

img{
    width: 100%;
}

#image{margin:20px;
    float: left;
    width:55%;
}

#text{width: 40%;
    float:left}

#intro{background-color: #542E71; color:white;
    margin: 20px; 
    padding: 30px;
    margin: 20px;   
}

#ingredients{background-color: #6A66A3; color:white;
    margin: 20px; 
    padding: 30px;
    margin: 20px;    
}

#directions{background-color: #84A9C0; color:white;
    margin: 20px; 
    padding: 30px;
    margin: 20px;  
}

#notes{background-color: #B3CBB9; color:white;
    margin-top: 20px;
    padding: 30px;
    margin: 20px;    
}