body{
    background-color: blueviolet;
    margin:0;
}

header{
    min-height: 200px;
    background-color: rgb(43, 226, 186);
    width:100%;
}

.col{
    min-height: 200px;
    background-color: rgb(226, 134, 43);
    width:33%;
    float: left;
    margin-right:.47%;
}

.col-last{
    min-height: 200px;
    background-color: rgb(177, 226, 43);
    width:33%;
    float:left;
}

.row{
    min-height:25px;
    width:100%;
    clear:both;
    background-color: blue;
 }

.red{
    background-color: red;;
}

footer{
    min-height: 200px;
    background-color: rgb(246, 100, 9);
    width:100%;
    clear:both;
}