/*TEXT STYLES*/
p, body{font-family: 'Palanquin', sans-serif;}
h1, h2{font-family: 'Playfair Display', serif;color:#261132;}
a{text-decoration: none;font-weight: bold;color:#3E2F5B;}
ul li{list-style-type: none;padding-top: 5px;padding-bottom: 5px;border-bottom: 1px solid;border-color: #3E2F5B;}
ul li:last-child{border-bottom: none;}
#directions h2{color:#E0CA3C;margin-top: 0;}
.lead{font-family:'Playfair Display', serif;line-height: 2em;font-size: 1.5em;color:#BA5C12;}

/*SECTION STYLES*/
body{background-color: #FFEBD6;margin:0;}
header{width:70%;margin:auto;}
article{width:48%;float:left;margin:auto;}
ul{padding-inline-start: 0px;}
#recipe-info{display: flex; padding-bottom:30px;}
#image {width: 50%;float: left;margin-right: 20px;}
#note{width:100%;}
#note p{margin-top:0;padding-top: 0;}
#ingredients{float:left;width:44%;padding:0 30px;clear:both;border-top: 2px dashed #BA5C12;border-bottom: 2px dashed #BA5C12;background-color:#FFF5EB;}
#directions{float:left;width:42%;padding:30px; margin:0;clear:both;background-color:#5B4587;color:white;border-bottom: 2px dashed white;}
#recipe-notes{background-color: #E0CA3C;padding:30px;clear:both;width:100%;}

/*IMAGE STYLES*/
img{width:100%;}