html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Holtwood One SC', serif;
  color: "red";
}

#images{
position:absolute;
top:0;
left:0;
z-index:-1;
}

#text{
position:absolute;
top:500px;
left:750px;
z-index: 0;
}