html, body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Holtwood One SC', serif;
  color: "red";
}

h1,h2,p{
  text-align: center;
}

canvas{
  background-color: red;
}

#images{
position:absolute;
top:0;
left:0;
z-index:-1;
}

#text{
position:absolute;
top:500px;
left:750px;
z-index: 0;
width:612px;
height:612px;
background-color:red;
}